/* Styles scoreboard section */
#quiz-scores {
    margin-top: 20px;
    margin-left: 20px;

}

.btn-secondary {
    text-align: center;
    font-size: 30px;
}

.scoreboard-item {
    font-size: 30px;
}

/* Styles timer */
.timer {
    text-align: center;
    color: red;
}

.timer-count {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: red;
}

/* Styles quiz div and text */
#quiz {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

#quiz-status {
    text-align: center;
}

