.btn-secondary {
    display: inline;
    font-size: 30px;
}

.scoreboard {
    position: fixed;
}

li {
    font-size: 30px;
}

.timer {
    text-align: center;
}

.timer-count {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#quiz {
    display: block;
    text-align: center;
}

#quiz-status {
    text-align: center;
}